body {
    padding: 0;
    margin: 0;
}
.containerConfig {
    display: flex;
    background: #fff;
    justify-content: space-between;
}

.form-logo {
    background: #F9F9F9;
    height: 100px;
    width: 35%;
    text-align: center;
    border-top: 1.5px solid #0D9DBB;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    border-radius: 5px;
}

.form-principal {
    background: #F9F9F9;
    height: 500px;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-top: 1.5px solid #0D9DBB; 
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    border-radius: 5px;
}

.form-principal-edit {
    background: #F9F9F9;
    height: 530px;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-top: 1.5px solid #0D9DBB;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    border-radius: 5px;
}


@media screen and (max-width: 700px){
    .containerConfig{
        display: block;
        margin-bottom: 20px;
    }
    .form-logo{
        margin: 10px auto;
        width: 70%;        
    }
    .form-principal{
        margin: auto;
        width: 100%;
    }
    .col-25{
        width: 30%;
    }
}