body {
    padding: 0;
    margin: 0;
}

.containerSales {
    margin-top: 30px;
    display: flex;
    background: #fff;
}

.form-principal-sales {
    background: #F9F9F9;
    height: 800px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-top: 1.5px solid #0D9DBB;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    border-radius: 5px;
}

