[*.cs]

# CS2001: Source file 'C:\Users\01DlopeS98\Documents\HardwareStore\HardwareStore\Modules\ProductsAdmin.Module\DeleteProductWarehause.aspx.cs' could not be found.
dotnet_diagnostic.CS2001.severity = suggestion
