<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <add name="HardwareStoreEntities" connectionString="metadata=res://*/Models.HardwareStoreModel.csdl|res://*/Models.HardwareStoreModel.ssdl|res://*/Models.HardwareStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=01DLOPES98\DEVSTACK;initial catalog=HardwareStore;user id=DlopezS98;password=01DlopezS98;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>